doctype html
html
    head
        title= "Login"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')
        // /.nav-collapse

.container
    .row.vertical-align
        .col-xs-3
            img.img-responsive(src='http://authalys.com/imgs/piggy.png')
        .col-xs-3
        .col-xs-6
            if sum > 0
                .balance.text-success #{sum} #{currency}
            else
                .balance.text-danger #{sum} #{currency}
    .row
        .col-xs-12
            h3
                strong Accounts

    each val in accounts
        .row
            .col-xs-12
                    - var date = new Date().toDateString();
                    - var total = parseInt(val.balance.amount)
                    if val.debit != undefined
                        - total -= parseInt(val.debit)
                    if val.transfer != undefined
                        - total += parseInt(val.transfer)
                    .panel.panel-default(class=parseInt(total) <= 0  ? "account-danger" : "account-success")
                        .panel-body
                            .row
                                .col-xs-6.account-label=types[val.type].label
                                .col-xs-6(class=parseInt(total) <= 0  ? "text-danger" : "text-success").text-right
                                    strong #{total} #{val.balance.currency}
                            .row
                                .col-xs-12.last-connection Last connection on #{date}
                            if val.debit != undefined
                                .row
                                    if parseInt(val.type) != 200
                                        .col-xs-8.history-line-label Transfer to current account Shoes
                                        .col-xs-4(class="text-danger").text-right
                                            strong - #{val.debit} XAF
                                    if parseInt(val.type) == 200
                                        .col-xs-8.history-line-label Payment Christian Louboutin Shoes
                                        .col-xs-4(class="text-danger").text-right
                                            strong - #{val.debit} XAF
                            if val.transfer != undefined
                                .row
                                    .col-xs-8.history-line-label Christian Louboutin Shoes
                                    .col-xs-4(class="text-success").text-right
                                        strong + #{val.transfer} XAF


    .row
        .col-xs-12.text-center
            button.btn.btn-primary(type='submit', style='border-radius: 25%', i='')
                span.glyphcon.glyphicon-plus
// /container

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")