doctype html
html
    head
        title= "Beneficiaries"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')
        // /.nav-collapse

.container
    .row
        .col-xs-12
            h3
                strong My beneficiaries
            each val in beneficiaries
                .row
                    .col-xs-12
                        .panel.panel-default.recipient-panel
                            .panel-body
                                .row
                                    .col-xs-6.account-label #{val.name}
                                    .col-xs-6
                                .row
                                    .col-xs-2 Account ID
                                    .col-xs-10 #{val.account_id}
                                .row
                                    .col-xs-2 Bank ID
                                    .col-xs-10 #{banks[val.bank_id].full_name}
    .row
        .col-xs-12.text-center
            button.btn.btn-primary(type='submit', style='border-radius: 50%')
                span.glyphicon.glyphicon-plus
// /container

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")