doctype html
html
    head
        title= "Cash transfer option"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')

        // /.nav-collapse

.container
    .row.vertical-align
        .col-xs-3
            img.img-responsive(src='http://authalys.com/imgs/piggy.png')
        .col-xs-1
        .col-xs-8
            if sum > 0
                .balance.text-success
                    a(href='/accounts') #{sum} #{currency}
            else
                .balance.text-danger
                    a(href='/accounts') #{sum} #{currency}
    form.form-inline(action='/cash-transfered')
        .row.cash-transfered-row
            .col-xs-12
                .panel.panel-default
                    .panel-body
                        .col-xs-12
                            .cash-transfered-title.text-success
                                | Confirm transfer options
                        .row.recipient
                            .col-xs-5 Beneficiary
                            .col-xs-7.text-right
                                strong Maxime Barbet
                        .row.iban
                            .col-xs-3 IBAN
                            .col-xs-9.text-right
                                strong FR7630066100410001057380116
                        .row.amount
                            .col-xs-6 Amount
                            .col-xs-6.text-right
                                strong 200 XAF
                        .row.information
                            .col-xs-1
                            .col-xs-11.col-info
                                ul
                                    li
                                        | 110 XAF to be transfered from
                                        em Livret A - SG
                                    li
                                        | 90 XAF to be transfered from
                                        em Livret Jeune - BNPP
            .row.payment-row
                .col-xs-1
                .col-xs-5
                    button.btn.btn-lg.btn-secondary.btn-block Change
                .col-xs-5
                    p
                        button.btn.btn-lg.btn-primary.btn-block(type='submit') Confirm
                .col-xs-1
// /container



script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")