
.optipay-title { color: #e91d63; font-size: 24px;}
.optipay-title strong { font-size: 36px; font-weight: bold; }

nav>li { font-size: 18px; }

.navbar img { width: 25px !important; margin-left: 10px; }

.balance {
    font-size: 36px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}


.account-label {
    font-size: 16px;
    font-weight: bold;
}

/*.table>tbody>tr:first-child>td {
    border-top: none;
}*/
.table>tbody>tr>td {
    border-top: none;
    border-bottom: 1px #ddd solid;
}

.last-connection {
    color: #ddd;
    padding-left: 40px;
}

.history-line-label {
    padding-left: 40px;
}

.order-payment-title {
  font-size: 18px;
  color: #bbb;
}
.order-payment-title strong, .recipients-title {
  font-size: 24px;
  color: #000;
}

.account-success {
  /*background-color: rgb(223, 240, 216);*/
  border-left: 5px solid #0A8;
}

.account-danger {
  /*background-color: rgb(242, 222, 222);*/
  border-left: 5px solid #ce4844;
}

/*.navbar .glyphicon { margin-left: 12px; }*/
.navbar img { width: 15px; }

.payment-row {margin-top: 40px; }
.payment-row input[type=text], .payment-row select { height: 45px; font-size: 18px; }
.payment-merchant-row { margin-top: 40px; }

.order-payment-title { margin-top: 20px; }
.order-payment-info .panel {border-left: 5px solid #0A8; }

.panel.payment { margin-top: 30px; }

.cash-transfered-row { margin-top: 40px; }
.cash-transfered-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cash-transfered-row .recipient { font-size: 20px; }
.cash-transfered-row .iban { color: #ccc; }
.cash-transfered-row .amount { font-size: 20px; }
.cash-transfered-row .information { font-size: 20px; margin-top: 20px; color: #666; }
.cash-transfered-row .information .col-info { border-left: 3px solid #0A8; }

.balance a {
  color: #3c763d;
} 

.recipient-panel {border-left: 5px solid #e91d63; }

.btn-primary {
    color: #fff;
    background-color: #E91D63 !important;
    border-color: #DB155A !important;
}